:host {
  position: relative;

  display: block;

  cursor: pointer;

  text-decoration: none;

  color:var(--isp-color__basic-text, $isp-color__basic-text);

  font-family: var(--isp-font-family, $isp-font-family);
  font-size: var(--isp-font-size-default, $isp-font-size-default);
}

:host:not(:last-of-type) {
  margin-bottom: 5px;
}

@import "./__wrap/vmenu-item__wrap";
@import "./__icon/vmenu-item__icon";
@import "./_active/vmenu-item_active";
@import "./_disabled/vmenu-item_disabled";
@import "./_icon-only/vmenu-item_icon-only";
