.input-form {
  display: block;

  box-sizing: border-box;

  width: 280px;
  height: 30px;
  padding: 10px;

  color: var(--isp-color__basic-text, #344a5e);

  border-width: 1px;
  border-style: solid;
  border-color: var(--isp-color__border, #d9d9d9);
  border-radius: 3px;
  box-shadow: none;

  font-family: var(--isp-font-family, Ubuntu);
  font-size: var(--isp-font-size__input, 14px);

  &:disabled {
    color: var(--isp-color__input-inactive-text, #9b9b9b);
    background-color: var(--isp-color__input-inactive, #f4f4f4);
  }

  &::placeholder {
    opacity: 1;
    color: var(--isp-color__input-placeholder-text, #9b9b9b);
  }
}

.input-form_accent {
  border-color: var(--isp-color__accent-border, #e44592);

  &:disabled {
    border-color: var(--isp-color__border, #d9d9d9);
  }
}

:host {
  position: relative;
}

.input-prefix__span {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: var(--isp-color__additional-text, #9b9b9b);
  font: 14px Ubuntu, sans-serif;
  font-size: var(--isp-font-size__input);
}