// antivirus-card-table-row {
//   display: table-row;
//   height: 70px;

//   border-bottom-width: 1px;
//   border-bottom-style: solid;
//   border-bottom-color: var(--ngispui-table__row_border-color, var(--isp-color__table-row-border, #d9d9d9));

//   &[disabled] {
//     --ngispui-table__cell-color: #9b9b9b;

//     a.main-text {
//       text-decoration: none !important;
//       color: #9b9b9b !important;
//     }

//     a.add-text {
//       color: #9b9b9b !important;
//     }
//   }

//   @import './_action/_hover.scss';
// }

antivirus-card-table-pagination {
  display: inline-block;

  .pagination__control {
    position: relative;
    width: 20px;
    height: 20px;
    cursor: pointer;
    vertical-align: middle;
    border: none;
    border-radius: 50%;
    outline: none;
    background: var(--ngispui-pagination__color-control-background, var(--isp-color__pagination-control-background, #d9d9d9));

    &.pagination__control_prev {
      margin-right: 6px;
    }
    &.pagination__control_next {
      margin-left: 6px;
      transform: rotate(180deg);
    }

    &::before,
    &::after {
      position: absolute;
      right: 0;
      left: 0;
      display: block;
      width: 7px;
      height: 2px;
      margin: 0 auto;
      content: '';
      border-radius: 5px;
      background-color: var(--ngispui-pagination__color-control, var(--isp-color__basic-text, #344a5e));
    }

    &::before {
      top: 7px;
      left: -2px;
      transform: rotate(-40deg);
    }

    &::after {
      bottom: 7px;
      left: -2px;
      transform: rotate(40deg);
    }

    &:active {
      background: var(
        --ngispui-pagination__color-control-background_active,
        var(--isp-color__pagination-control-background_active, #b8b8b8)
      );
    }

    &:hover {
      background: var(--ngispui-pagination__color-control-background_hover, var(--isp-color__pagination-control-background_hover, #f4f4f4));

      &::before,
      &::after {
        background-color: var(--ngispui-pagination__color-control_hover, var(--isp-color__accent-border, #e44592));
      }
    }
  }
}
