@import './link/link.scss';
@import './table.scss';
@import './table-cell/_ngispui-table-cell.scss';
@import './table-footer/_ngispui-table-footer.scss';
@import './table-header/_ngispui-table-header.scss';
@import './table-row/_ngispui-table-row.scss';

:host {
  min-width: 680px;

  color: var(--isp-color__basic-text, #344a5e);
  font-size: var(--isp-font-size-default, 14px);
  font-family: Ubuntu, sans-serif;
}