.ngispui-button_type_secondary {
  color: var(--ngispui-button__secondary_text_regular, var(--isp-color__more-button-text_regular, #344a5e));
  border-color: var(--ngispui-button__primary_border_regular, var(--isp-color__more-button_border_regular, transparent));
  background-color: var(--ngispui-button__secondary_background_regular, var(--isp-color__more-button_background_regular, #c4e9ff));
  box-shadow: none;

  &:hover {
    color: var(--ngispui-button__secondary_text_hover, var(--isp-color__more-button-text_hover, #344a5e));
    border-color: var(--ngispui-button__primary_border_hover, var(--isp-color__more-button_border_hover, transparent));
    background-color: var(--ngispui-button__secondary_background_hover, var(--isp-color__more-button_background_hover, #eaf7ff));
  }

  &:active {
    color: var(--ngispui-button__secondary_text_active, var(--isp-color__more-button-text_active, #344a5e));
    border-color: var(--ngispui-button__primary_border_active, var(--isp-color__more-button_border_active, transparent));
    background-color: var(--ngispui-button__secondary_background_active, var(--isp-color__more-button_background_active, #8ed5ff));
  }
}
