:host(.isp-table-cell_row-selected) {
  &::before {
    position: absolute;
    top: -1px;
    left: 0;

    height: calc(100% + 2px);

    content: '';

    border-left-width: 3px;
    border-left-style: solid;
    border-left-color: var(
      --ngispui-table__selected-border-color,
      var(--isp-color__table-selected-border, #0279c0)
    );
  }
}
