.antivirus-card-preview {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 20px;
  font-family: 'Ubuntu', sans-serif;
  color: #344a5e;
  line-height: normal;
  width: 475px;
  border: 1px solid #d8d8d8;
  box-sizing: border-box;
  border-radius: 2px;
}