:host {
  min-width: 680px;

  color: var(--isp-color__basic-text, #344a5e);
  font-size: var(--isp-font-size-default, 14px);
  font-family: Ubuntu, sans-serif;
}

.link {
  font-size: 14px;
  line-height: 14px;
  align-items: center;

  color: #187abd;
  cursor: pointer;

  &_small {
    font-size: 12px;
  }

  &_indent-left {
    margin-left: 20px;
  }

  &_indent-right {
    margin-right: 20px;
  }

  &:hover {
    color: #0991e2;

    & path:not([fill-rule='evenodd']),
    text {
      fill: #0991e2;
    }

    & rect {
      stroke: #0991e2;
    }
  }

  &.link-dashed:hover {
    text-decoration: underline;
    text-decoration-style: dashed;
  }
}

.title {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}

.button-container {
  margin-top: 30px;
}

.antivirus-card-table-list__footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.flex-container {
  display: flex;
  align-items: center;

  antivirus-card-hint {
    margin-left: 10px;
  }
}