.ngispui-button_type_fourth {
  color: var(--ngispui-button__fourth_text_regular, var(--isp-color__tag-button_text_regular, #f4f4f4));
  border-color: var(--ngispui-button__fourth_border_regular, var(--isp-color__tag-button_border_regular, transparent));
  background-color: var(--ngispui-button__fourth_background_regular, var(--isp-color__tag-button_background_regular, transparent));
  box-shadow: none;

  &:hover {
    color: var(--ngispui-button__fourth_text_hover, var(--isp-color__tag-button_text_hover, #f8e71c));
    border-color: var(--ngispui-button__fourth_border_hover, var(--isp-color__tag-button_border_hover, transparent));
    background-color: var(--ngispui-button__fourth_background_hover, var(--isp-color__tag-button_background_hover, transparent));
  }

  &:active {
    color: var(--ngispui-button__fourth_text_active, var(--isp-color__tag-button_text_active,#fffabb));
    border-color: var(--ngispui-button__fourth_border_active, var(--isp-color__tag-button_border_active, transparent));
    background-color: var(--ngispui-button__fourth_background_active, var(--isp-color__tag-button_background_active, transparent));
  }
}
