.ngispui-button_type_third {
  color: var(--ngispui-button__third_text_regular, var(--isp-color__info-button_text_regular, #ffffff));
  border-color: var(--ngispui-button__third_border_regular, var(--isp-color__info-button_border_regular, #ffffff));
  background-color: var(--ngispui-button__third_background_regular, var(--isp-color__info-button_background_regular, rgba(255, 255, 255, .4)));
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .4);

  &:hover {
    color: var(--ngispui-button__third_text_hover, var(--isp-color__info-button_text_hover, #ffffff));
    border-color: var(--ngispui-button__third_border_hover, var(--isp-color__info-button_border_hover, #ffffff));
    background-color: var(--ngispui-button__third_background_hover, var(--isp-color__info-button_background_hover, rgba(255, 255, 255, .5)));
  }

  &:active {
    color: var(--ngispui-button__third_text_active, var(--isp-color__info-button_text_active, #ffffff));
    border-color: var(--ngispui-button__third_border_active, var(--isp-color__info-button_border_active, #ffffff));
    background-color: var(--ngispui-button__third_background_active, var(--isp-color__info-button_background_active, rgba(255, 255, 255, .2)));
  }
}
