@import "./__content/isp-table-footer__content.scss";
@import "./__container/isp-table-footer__container.scss";

.ngispui-table-footer {
  display: table-footer-group;

  vertical-align: middle;

  border-color: inherit;
}
