.isp-table-footer__content {
  display: table-row;
  width: var(--ngispui-table-footer-width, 100%);
  height: var(--ngispui-table-footer-height, 50px);
  padding-top: var(--ngispui-table-footer-padding-top, 15px);
  padding-right: var(--ngispui-table-footer-padding-right, 20px);
  padding-bottom: var(--ngispui-table-footer-padding-bottom, 15px);
  padding-left: var(--ngispui-table-footer-padding-left, 20px);
}
