.ngispui-navigation-item_invert-line {
  position: relative;

  cursor: default;

  &::after {
    border-bottom-color: var(--ngispui-color__nav-line_invert, var(--isp-color__nav-line_invert, #f8e71c));
  }
}
