@import '../../shared';
@import './_free';
@import './_pro';
@import './_purchase';


antivirus-card-preview {
  @extend %antivirus-card-preview;
}

.before-check {
  margin: 0px;
  line-height: 16px;
  font-size: 14px;
  font-weight: bold;
  display: inline-flex;
  white-space: nowrap;
}

.check-path {
  white-space: nowrap;
  overflow: hidden;
  vertical-align: bottom;
  text-overflow: ellipsis;
  max-width: 100%;
  margin-right: 5px;
  display: inline-block;
}

.next-check {
  margin: 5px 0 0 0;
  font-size: 12px;
  line-height: 14px;
  color: #979797;
}

/* not used */
.show-history-link {
  background: none;
  border: none;
  font: inherit;
  text-decoration: underline;
  cursor: pointer;

  &:focus {
    outline: 0;
  }
}

.antivirus-card-preview__container {
  display: flex;
  margin-top: 25px;
}

.antivirus-card-preview__container-msg {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  justify-content: center;
}

.antivirus-card-preview__spinner {
  margin-top: -3px;
  margin-left: 10px;
  height: 0;
}

.antivirus-card-preview__healing {
  padding-right: 20px;
  height: 30px;
}

.link-disabled {
  cursor: not-allowed;
  color: #9b9b9b;
}

.antivirus-card-preview__new-scan {
 border: 1px solid #187ABD;
 border-radius: 3px;
 display: flex;
 align-items: center;
 padding: 4px 10px; 

  &:hover {
    border-color: #0991e2;
  }

  &.link-disabled {
    border-color: #9b9b9b;
  }
}