@import '../../shared';
@import './_free';
@import './_pro';


:host {
  --spinner-round__color: #ed81b5;
  --spinner-round__width: 25px;
}

antivirus-card-preview {
  @extend .antivirus-card-preview;

  .popover {
    --sapUiShadowLevel2: 0 10px 14px 0 var(--isp-color__default-shadow, rgba(0, 0, 0, 0.4)), 0 0 0 1px var(--isp-color__border, #d9d9d9);

    .modal-close {
      position: absolute;
      right: 20px;
      top: 20px;
      cursor: pointer;
    }
  }
  .popover-content {
    padding: 20px 30px 30px 20px;
  }
}

.before-check {
  margin: 0px;
  line-height: 16px;
  font-size: 14px;
  font-weight: bold;
}

.next-check {
  margin: 5px 0 0 0;
  font-size: 12px;
  line-height: 14px;
  color: #979797;
}

/* not used */
.show-history-link {
  background: none;
  border: none;
  font: inherit;
  text-decoration: underline;
  cursor: pointer;
  &:focus {
    outline: 0;
  }
}

.antivirus-card-preview__container {
  display: flex;
  margin-top: 25px;
}

.antivirus-card-preview__container-msg {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  justify-content: center;
}

.antivirus-card-preview__spinner {
  margin-top: -3px;
  margin-left: 10px;
  height: 0;
}
