.antivirus-card-preview__pro {
  @extend %antivirus-card-preview;
  justify-content: center;
  cursor: pointer;
  text-align: center;
  color: #187abd;

  &.disabled {
    cursor: not-allowed;
    color: #9b9b9b;
  }
}
