:host {
  --isp-ui-grid__max-width: 1300px;
  --isp-ui-grid__side-margin: 40px;
  --isp-ui-grid__gutter: 20px;
  --isp-color__border: #d9d9d9;
  --isp-color__basic-text: #344a5e;
  --isp-font-size-default: 14px;
  --isp-color__additional-text: #9b9b9b;
  --isp-font-size-small: 12px;
  --isp-color__active-text: #30ba9a;
}

@media (min-width: 1021px) and (max-width: 1380px) {
  :host {
    --isp-ui-grid__max-width: calc(100vw - 80px);
  }
}

@media (max-width: 1020px) {
  :host {
    --isp-ui-grid__max-width: 940px;
  }
}

:host {
  --isp-ui-grid__cell-width: calc((var(--isp-ui-grid__max-width, 100%) - var(--isp-ui-grid__gutter) * 11) / 12);
  --item-width: calc(var(--isp-ui-grid__cell-width) * 2 + var(--isp-ui-grid__gutter));
  font-family: Ubuntu, sans-serif;
  font-size: var(--isp-font-size-default);
}

.overview-widget-list__item {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 200px;
  height: 200px;
  padding: 24px 10px 34px;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .25);
  line-height: 22px;
}

.widget_adaptive {
  --item-width: calc(var(--isp-ui-grid__cell-width) * 2 + var(--isp-ui-grid__gutter));
  box-sizing: border-box;
  width: var(--item-width);
  height: var(--item-width);
  padding: calc(var(--item-width) * 0.35 - 46px) calc(var(--item-width) * 0.05) calc(var(--item-width) * 0.33 - 44px) calc(var(--item-width) * 0.05);
  text-align: center;
  line-height: 22px;
}

.overview-widget-list__item-link {
  text-decoration: none;
  color: var(--isp-color__basic-text);
}

/* .vepp-widget-text_with-margin-adaptive {
  margin-bottom: calc(var(--item-width) * 0.36 - 64px);
} */

.widget-text_additional {
  color: var(--isp-color__additional-text);
  font-size: var(--isp-font-size-small);
}

.overview-widget-list__item-overflow {
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.widget-icon_adaptive {
  margin-bottom: calc(var(--item-width) * 0.1333 - 13.66px);
  margin-top: auto;
  font-size: 0;
  line-height: 0;
}

.link {
  display: inline-block;
}

.link_size_small {
  font: 12px Ubuntu, sans-serif;
  font-size: var(--isp-font-size-small);
}

.link_color_primary {
  color: var(--isp-link__color_regular, #0279c0);
  cursor: pointer;

  &:hover {
    color: #0991e2;
  }
}

.link_color_primary:focus {
  outline: 0;
}

.widget-text_success {
  color: var(--isp-color__active-text, #30ba9a);
  font-size: var(--isp-font-size-small, 12px);
}

.widget-text_accent {
  color: var(--isp-color__accent-text, #e44592);
  font-size: var(--isp-font-size-small, 12px);
}

.antivirus-card-spinner-round {
  position: relative;
  margin: auto;
  width: 35px;

  &:before {
    content: '';
    display: block;
    padding-top: 100%;
  }

  .circular {
    animation: antivirus-card-spinner-round__rotate 2s linear infinite;
    height: 100%;
    transform-origin: center center;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  .path {
    stroke-dasharray: 1, 50, 50;
    stroke-dashoffset: 0;
    stroke-linecap: round;
  }
}

@keyframes antivirus-card-spinner-round__rotate {
  100% {
    transform: rotate(360deg);
  }
}