antivirus-card-table-row {
  display: table-row;
  height: 70px;

  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--ngispui-table__row_border-color, var(--isp-color__table-row-border, #d9d9d9));

  &[disabled] {
    --ngispui-table__cell-color: #9b9b9b;

    a.main-text {
      text-decoration: none !important;
      color: #9b9b9b !important;
    }

    a.add-text {
      color: #9b9b9b !important;
    }
  }

  @import './_action/_hover.scss';
}
